html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Wrapper to ensure everything fits within 100vh */
.homePageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

/* Form Styling */
.formWrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #1c1e29;
  padding: 10px;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

/* Main Layout - Code Editor + Sidebar */
.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
  bottom: 0;
  overflow: hidden;
}

/* Sidebar */
.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  margin-top: 20px;
  width: 100%;
}

/* Code Editor */
.editorContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* 100% */
}

/* Code Editor Styling */
.CodeMirror {
  flex-grow: 1;
  /* Takes up all available space */
  font-size: 20px;
  line-height: 1.6;
  padding: 10px;
  background: #282a36;
  border-radius: 5px;
  overflow: hidden;
}


/* Bottom Bar */
.bottomSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #282a36;
}

/* Language Selection */
.languageSelect {
  padding: 8px;
  border-radius: 5px;
  background: #2d2f2e;
  color: white;
  border: none;
}

/* Run Button */
.runBtn {
  background-color: #b8e362;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Output Window */
.outputWindow {
  background: #242426;
  color: rgb(246, 232, 232);
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
  height: 27vh;
  /* resize: vertical; */
  margin-bottom: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* Ensures resizing happens from the top */
}


textarea{
  background-color: #49494d;
  color: white;
  height: 4em;
  width: 100%;
}

.inputArea{
  color: #fff;
}